<nav class="navbar navbar-default navbar-inverse" role="navigation">
<div class="navbar-header">
    <a class="navbar-brand" href="index.html">Playvinyl.ru</a>
</div>

<button type="button" class="navbar-toggle pull-left collapsed" ng-click="isMenuCollapsed = !isMenuCollapsed" ng-init="isMenuCollapsed=true">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
</button>

<ul class="nav navbar-nav navbar-right">
    <li><a href="" ui-sref="home"><i class="fa fa-dot-circle-o fa-2x"></i></a></li>
    <li><a href=""><i class="fa fa-user fa-2x"></i></a></li>
    <li><a href=""><i class="fa fa-shopping-cart fa-2x"></i></a></li>
    <li ng-hide="authenticated">
        <a href="" ng-click="login()"><i class="fa fa-key fa-2x"></i></a>
    </li>
    <li ng-show="authenticated">
        <a href="" ng-click="logout()"><i class="fa fa-sign-out fa-2x"></i></a>
    </li>
</ul>

<div class="navbar-default navbar-inverse sidebar">
    <div class="sidebar-nav collapse navbar-collapse" collapse="isMenuCollapsed">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Поиск">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <span class="fa fa-search"></span>
                        </button>
                    </span>
                </div>
            </li>
            <li>
                <a href="#" ng-click="isStylesCollapsed = !isStylesCollapsed"
                            ng-init="isStylesCollapsed=true"
                            ng-class="{'active': !isStylesCollapsed}">
                    Поиск по стилям
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level" collapse="isStylesCollapsed">
                    <li>
                        <a href="flot.html">
                            Acid/Acid Techno
                        </a>
                    </li>
                    <li>
                        <a href="morris.html">
                            Disco/Space Disco
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="index.html">
                    Каталог исполнителей
                    <span class="fa arrow"></span>
                </a>
            </li>
            <li>
                <a href="index.html">
                    Каталог лейблов
                    <span class="fa arrow"></span>
                </a>
            </li>
            <li class="about-us icon-link">
                <a href="index.html">
                    <span class="fa fa-question-circle"></span>
                    О нас
                </a>
            </li>
            <li class="pay icon-link">
                <a href="index.html">
                    <span class="fa fa-credit-card"></span>
                    Оплата
                </a>
            </li>
            <li class="delivery icon-link">
                <a href="index.html">
                    <span class="fa fa-car"></span>
                    Доставка
                </a>
            </li>
        </ul>
    </div>
</div>
</nav>
