@import "app/variables.scss";
@import "app/vendor.scss";
@import "app/nav/nav.scss";
@import "app/auth/auth.scss";
@import "app/cart/widget.scss";
@import "app/main/main.scss";
@import "app/footer/footer.scss";

/* columns of same height styles */

.container-xs-height {
    display: table;
    padding-left:0px;
    padding-right:0px;
}

.row-xs-height {
    display: table-row;
}

.col-xs-height {
    display: table-cell;
    float: none;
    vertical-align: top;
}

@media (min-width: $screen-sm-min) {
    .container-sm-height {
        display: table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-sm-height {
        display: table-row;
    }
    .col-sm-height {
        display: table-cell;
        float: none;
        vertical-align: top;
    }
}

@media (min-width: $screen-md-min) {
    .container-md-height {
        display: table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-md-height {
        display: table-row;
    }
    .col-md-height {
        display: table-cell;
        float: none;
        vertical-align: top;
    }
}

@media (min-width: $screen-lg-min) {
    .container-lg-height {
        display: table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-lg-height {
        display: table-row;
    }
    .col-lg-height {
        display: table-cell;
        float: none;
        vertical-align: top;
    }
}

.col-align-top {
    vertical-align: top;
}

.col-align-middle {
    vertical-align: middle;
}

.col-align-bottom {
    vertical-align: bottom;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    color: $main-color;
}

.back {
    background-image: url("../img/back.jpg");
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100%;
}

.panel-gray {
    .panel-heading {
        border-color: $gray;
        background-color: $gray;
    }

    a {
        color: $gray;
    }

    a:hover {
        color: $gray;
    }

    border-color: black !important;
}

.panel-green {
    .panel-heading {
        border-color: $green;
        background-color: $green;
    }

    a {
        color: $green;
    }

    a:hover {
        color: $green;
    }

    border-color: $green !important;
}

.panel-yellow {
    .panel-heading {
        border-color: $yellow;
        background-color: $yellow;
    }

    a {
        color: $yellow;
    }

    a:hover {
        color: $yellow;
    }

    border-color: $yellow !important;
}

.modal {
    overflow-y: auto;
}
.modal-open {
    overflow:auto;
    overflow-x:hidden;
}

.main {
    padding: 0 15px;
    margin-bottom: 50px;

    @media (min-width: $screen-sm-min) {
        margin-left: 250px;
        padding: 20px 30px 0 30px;
    }
}

span.fa.space {
    margin-right: 5px;
}

.huge {
    font-size: 23px;
}

