<h1>{{ listTitle  }}</h1>
<div class="store">
    <div ng-if="vinylList.pages > 1">
        <pagination total-items="vinylList.count"
                    ng-model="vinylList.page"
                    ng-change="vinylList.load()"
                    items-per-page="vinylList.pageSize"
                    max-size="7"
                    class="pagination-sm"
                    boundary-links="true"
                    previous-text="<"
                    next-text=">"
                    first-text="<<"
                    last-text=">>"
                    >
        </pagination>
    </div>
    <div class="store-item" store-vinyl-item vinyl="vinyl" ng-repeat="vinyl in vinylList.items"></div>
    <div ng-if="vinylList.pages > 1">
        <pagination total-items="vinylList.count"
                    ng-model="vinylList.page"
                    ng-change="vinylList.load()"
                    items-per-page="2"
                    max-size="7"
                    class="pagination-sm"
                    boundary-links="true"
                    previous-text="<"
                    next-text=">"
                    first-text="<<"
                    last-text=">>"
                    >
        </pagination>
    </div>
</div>
