<div class="panel-heading">
    <h2 class="panel-title">Изменение пароля</h2>
</div>
<div class="panel-body">
    <form accept-charset="UTF-8" role="form" ng-submit="confirmReset(confirmResetForm)" name="confirmResetForm" novalidate>
    <fieldset>
        <div class="form-group">
            <alert type="danger" ng-repeat="error in errors.new_password1">{{error}}</alert>
            <input name="new_password1" class="form-control" placeholder="Новый пароль" ng-model="model.new_password1" type="password" required />
        </div>
        <div class="form-group">
            <alert type="danger" ng-repeat="error in errors.new_password2">{{error}}</alert>
            <input name="new_password2" class="form-control" placeholder="Повторите пароль" ng-model="model.new_password2" type="password" required />
        </div>
        <alert type="danger" ng-repeat="error in errors.token">Неверный токен: {{error}}</alert>
        <alert type="danger" ng-repeat="error in errors.non_field_errors">{{error}}</alert>
        <input class="btn btn-success" type="submit" value="Изменить">
    </fieldset>
    </form>
</div>
