<div class="panel-heading">
    <h2 class="panel-title">Восстановление пароля</h2>
</div>
<div class="panel-body">
    <div ng-if="complete == false">
        <form accept-charset="UTF-8" role="form" ng-submit="resetPassword(resetPasswordForm)" name="resetPasswordForm" novalidate>
        <fieldset>
            <div class="form-group">
                <alert type="danger" ng-repeat="error in errors.email">{{error}}</alert>
                <input name="email" class="form-control" placeholder="Email" ng-model="model.email" type="text" required />
            </div>
            <alert type="danger" ng-repeat="error in errors.non_field_errors">{{error}}</alert>
            <input class="btn btn-success" type="submit" value="Восстановить">
        </fieldset>
        </form>
    </div>
    <div ng-if="complete == true">
        <alert type="success">
        Дальнейшие инструкции отправлены на указанный адрес электронной почты.
        </alert>
        <input class="btn btn-success" type="button" value="ОК" ng-click="$close()">
    </div>
</div>
