.modal-backdrop {
    height: 100%;
}

.panel-title {
    font-size: 20px;
    color: #222;
}

.panel-heading {
    margin-bottom: 10px;
    padding-bottom: 0;
}

.panel-body {
    margin-top: 10px;
    padding-top: 0;
    color: #222;
}

.alert {
    margin-bottom: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 30px;
}

a.reset-pass {
    display: block;
    margin-top: 10px;
}
